{% extends 'base.html.twig' %}

{% block content %}

    {% for res in res  %}
        <div class="box-add-products">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="offer-box-products">
                            <img class="img-fluid"  src="{{ asset('/integration/public/uploads/')~res.image}}" alt="">
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="offer-box-products">
                            <div class="contact-info-left">
                                <h2>
                                    {{ res.description }}
                                </h2>
                                <p> {{ res.description }}</p>
                                <ul>
                                    <li>
                                        <br><br>
                                    </li>
                                    <li>
                                        <br><br>
                                        <p><i class="fas fa-table"></i>{{ res.dateReclamation|date }}</p>
                                    </li>
                                    <a href="{{ path('Afficher_rec',{'id':res.etat}) }}">
                                        <button class="btn hvr-hover disabled" id="submit" type="submit" style="pointer-events: all; cursor: pointer;">Read more</button>
                                    </a>

                                </ul>
                            </div>
                        </div>
                    </div>



                </div>
            </div>



        </div>
    {% endfor %}










<div class="cart-box-main">
    <div class="container">
    {% for res in res  %}
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">

                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Objet de réclamation</th>
                            <th>Text</th>
                            <th>Type</th>
                            <th>Etat</th>
                            <th>Remove</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="thumbnail-img">
                                <a href="#">
                                    <img class="img-fluid" src="images/img-pro-01.jpg" alt="" />
                                </a>
                            </td>
                            <td class="name-pr">
                                <a href="#">
                                    {{ res.description }}
                                </a>
                            </td>
                            <td class="price-pr">
                                {{ res.etat }}
                                <label>{{ res.etat }}</label>
                                <select class="wide" name="etat">
                                    <option value="1">Traite</option>
                                    <option value="0">Non Traité</option>
                            </td>
                            <td class="quantity-box"><input type="com" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>
                            <td class="total-pr">
                                hi
                            </td>
                            <td class="remove-pr">
                                <a href="#">
                                    <i class="fas fa-times"></i>
                                </a>
                            <td>
                                <a href="{{url('DeleteRec',{'id': res.id })}}"> <button>delete</button></a> <br>
                            </td>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                <div class="coupon-box">
                    <div class="input-group input-group-sm">
                        <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="button">Apply Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="update-box">
                    <input value="Update Cart" type="submit">
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold"> $ 130 </div>
                    </div>
                    <div class="d-flex">
                        <h4>Discount</h4>
                        <div class="ml-auto font-weight-bold"> $ 40 </div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Coupon Discount</h4>
                        <div class="ml-auto font-weight-bold"> $ 10 </div>
                    </div>
                    <div class="d-flex">
                        <h4>Tax</h4>
                        <div class="ml-auto font-weight-bold"> $ 2 </div>
                    </div>
                    <div class="d-flex">
                        <h4>Shipping Cost</h4>
                        <div class="ml-auto font-weight-bold"> Free </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5"> $ 388 </div>
                    </div>
                    <hr> </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a> </div>
        </div>





{% endblock %}